<html>
  <head>
    <title>Your top genre's are...</title>
  </head>
  <body>
    <h1>Genre and percentage</h1>
    <h2> Please now pick a genre</h2>
    <form method="post" name="pick">
      {% for t in list %}
      <input type=radio name=option id={{t}} value="{{t}}"> {{ t }} <br>
      {% endfor %}
      <button type="submit" formaction="/MovieIdea"> Submit </button>
    </form>
  </body>
</html>
