<html>
<head>
  <title>Youtube Trailer</title>
</head>
   <body>
     <h1>Below is a trailer for a movie that is part of your selected genre</h1>
     <iframe src= {{ value }} width="853" height="480" frameborder="0" allowfullscreen></iframe>
   </body>
</html>
